<a href="https://colab.research.google.com/github/Komal-Vaishya/PYTHON/blob/master/Exp_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name: Komal Rajeshkumar Vaishya   
Class: SE3   
Roll No.: 52**

Importing

In [2]:
import sqlite3

Connecting to Database

In [3]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

Create Table

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

**CRUD Operations**

Create (Insertion)

In [5]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)
create_student("Alice", 10)
create_student("bob", 11)

Record added successfully!
Record added successfully!
Record added successfully!
Record added successfully!

Read (Retrieve)

In [6]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)
(3, 'Alice', 10)
(4, 'bob', 11)

Update

In [7]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age=?
        WHERE ID =?
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(9, 21)  # Updating Alice's age to 21
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)
(3, 'Alice', 10)
(4, 'bob', 11)

Delete

In [8]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id =?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")


delete_student(10)# Deleting Bob's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)
(3, 'Alice', 10)
(4, 'bob', 11)

Closing the database connection

In [9]:
connection.close ()